html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ffc600;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive;
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.score-level-block{
  margin: 0 auto 20px;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.score-block, 
.level-block {
  font-size: 2rem;
  flex-basis: 160px;
}

.level-block {
  text-align: end;
}

.reset-btn {
  width: 50px;
  height: 25px;
  background-color: rgb(172, 61, 17);
  border: none;
  border-radius: 5px;
  transition: 0.3s linear;
  cursor: pointer;
}

.score, .level {
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.start-btn {
  display: block;
  margin: 0 auto 20px;
  width: 120px;
  height: 50px;
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
  transition: 0.3s linear;
  cursor: pointer;
}

.start-btn:hover {
  background-color: rgb(4, 195, 131);
}

.start-btn:active, 
.reset-btn:active {
  transform: scale(0.95);
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(./assets/dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('./assets/mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:top 0.4s;
  cursor: pointer;
}

.mole:active {
  transform: scale(0.95);
}

.hole.active .mole {
  top: 0;
}